<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reminder for, <%= @user.name %></h1>
    <p>
     <%= @user.username%>.<br>
    </p>
    <p>
    </p>
    <p>Thanks for using our app and have a great day!</p>
  </body>
</html>
